body{
    font-family: 'Montserrat', sans-serif;
    margin:0;
}

#title{
    background-color: #142850;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    color: #fff;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    line-height: 1.5;
    color: #fff;
}
h5{
    color: #af9a9a;
}
.container-fluid{
    padding: 3% 3%;
}
/* First-Page */
.h1-first{
    padding:1% 1% 1%;
    text-align: center;

}
.h1-second{
    padding:1% 1% 1%;
    text-align: center;
    font-size:4rem;
}
.first-col{
    text-align: center;
    margin-top: -1%;
}
.second-col{
    text-align: center;
}
input[type=button]{
  display: inline-block;
  border-radius: 12px;
  background-color: #e43f5a;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 1% 1%;
  width: 40%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 4% 3%;
}
input[type=text]{
  border-radius: 4px;
  width: 50%;
  font-size: 2rem;
  padding: 1% 1%;
  margin: 0% 3%;
}
input[type=text]:focus {
  background-color: lightblue;
}
label{
    margin:3% 1% 0%;
}
@media screen and (max-width: 684px){
    input[type=text]{
       width: 80%;
    }
}
